<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Servile</title>
		<meta charset="utf-8" /> </meta>
		<meta name="viewport" content="width=device-width, initial-scale=1" /> </meta>
		<link rel="stylesheet" href="/assets/css/main.css" /> </link>
		<link rel="shortcut icon" href="/images/main_icon.ico" />
	</head>
	<body>

		<!-- Header -->

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="/images/banner">
					<div class="inner">
						<header>
							<h1>Servile</h1>
							<p>Be a part of the Revolution.</p>
						</header>
						<a href="https://s3.eu-central-1.amazonaws.com/case-yellow-snapshot/binaries/Servile.zip" class="button big alt scrolly">Installer</a>
						<br/>
						<br/>
						<a href="https://s3.eu-central-1.amazonaws.com/case-yellow-snapshot/binaries/Servile.exe" class="button big alt scrolly">Update</a>
					</div>

				</section>

		<!-- Main -->
			<div id="main">


			<!-- Three -->
			<!-- 	<section class="wrapper ">
					<div class="inner">
						<header class="align-center">
							<h2>Aliquam ipsum purus dolor</h2>
							<p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
						</header>

					
							<div class="flex flex-3">
								<div class="video col">
									<div class="image fit">
										<img src="/images/pic09.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Cras eget lacus sed mauris scelerisque tincidunt
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="/images/pic10.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Vivamus vulputate lacus non massa auctor lobortis
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="/images/pic11.jpg" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Nam eu nisi non ante sodales interdum a vitae neque
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div> 
				</section> -->

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>